header {
  font-family: 'Syne Mono', monospace;
}

main {
  font-family: 'Hanken Grotesk', sans-serif;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3c8;
  opacity: 0.5;
  color: black;
}

.present {
  background-color: #33cc33;
  opacity: 0.5;
  color: black;
}

.future {
  background-color: #06aed5;
  opacity: 0.5;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  background-color: #d56306ba;
  color: white;
}

.saveBtn:hover {
  background-color: #d56306;
}

.checkBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #cbd506ba;
  color: white;
}

.checkBtn:hover {
  background-color: #cbd506;
}